<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.KeepBackupLimit</key>
	<data>
	MA==
	</data>
	<key>Clover.Theme</key>
	<data>
	b3Jhbmdl
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>OsxAptioFixDrv-RelocBase</key>
	<data>
	AHBrfQAAAAA=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XVQDDQOs9llOQiGN5vNZrMZB4PBZuNyzRxO6UDLstxdZoPo8jAcFKaDYHgY
	DAaDwWAws9lsNptxMBaInoeXQTFaDx4+l0HmcJ1NZ4Hk5XN6Ti/L5zrFUArTgWB4GAwG
	g8FgMBwMFoPBZmIWaCiV6UAwPAwGg8FgMJjZbDabzTgYCzSUznQgGB4Gg8FgMFgsLIbF
	bDCYjAUaSmk6EAwPg8FgMBgMBoPFbLJbGaaQBrE6EAxvNpvNZjMOBoPBYDAYDMYCSYVY
	HQiGN5vNZrMZB4uRabIyeQZjgaRDrA4Ew5vNZrPZjIPBYGGYWVzGsUBSIlYHguFhMBgM
	BoPBYDAYDAaD2RTSKVQHguHNZrPZbMbByOaZTTym4VggqRCqA8HwZrPZbDbjYGTzzCYe
	22AskHSa1IFgeLPZbDabcbAYmSYrk2cwFkhKTOpAMLzZbDabzThYjEyTlckzmEKK04FA
	MLzZbDabzThYjHwTw2phGAskzelAIBjebDabzWYcLEa+lWs4GIwFksZgOhAMD4PBYDAY
	DAaDwWAwmKzGAkljMR0IhofBYDAYDAaDwWAwGAxWU0hjMh0IhjebzWazGQeTwXK5MQ4G
	Y4GksZkOBMPDYDAYDAaDwWAwGAwGq7FA0hhNB4LhzWaz2WzGwWJm3MyME8NYIGmspgPB
	8Gaz2Ww242Ax8o0so+FgCqmRqQPB8DAYDAaDwWAwGCwGk+FsLJA0CdWBYHgYDAaDwWAw
	s9lsNptxMBZoONWBQDA8DAaDwWAwGAwGg8FgMBwLNJ3qQCAYHgaDwWAwGAwGg8FgMBhM
	YQzX2XTQUCrTgWB4GAwGg8FgMLPZbDabcTAWqCiXv+Wg8Ztc1oFgeBgMBoPBYDAYDAaD
	wWIwFsgYrrPpoCG0qgPB8DEWCMrUgWAKhTA8XtPl4XEZhBpCq6BYigUyysPtMkgHkpbp
	dbkbFCST5eX5XAHDm81ms9mMg5HNM5sYR4aBdCAY3mw2m81mHAwGk5HD4pgMpIDhzWaz
	2WzGwcjmmU2cq8FAOhAMbzabzWYzDgaDzcblmjkMUsDwZrPZbDbjYGTzzCYWz2AgHQiG
	N5vNZrMZB4PBZuUxzTYDKWB4s9lsNptxMLJ5ZhOLazCQDgTDm81ms9mMg4EUMLzZbDab
	zTgY2Tyzicc2GEgHguHNZrPZbMbBYDDczEybkUEKGN5sNpvNZhyMbJ7ZxOMwDKQDwfBm
	s9lsNuNgMBhuZqaNayAFDG82m81mMw5GNs9s4vEYBtKBYHiz2Ww2m3EwGAw3C4txOJAC
	hjebzWazGQcjm2c2MRkGA+lAMLzZbDabzTgYDIabhcewGkgBw5vNZrPZjIORzTObmCyD
	gXQgGN5sNpvNZhwMBsPNzLQZGaSA4c1ms9lsxsHI5plNTLbBQDoQDG82m81mMw4Gg+HC
	Y5vMBlLA8Gaz2Ww242Bk88wmJo9hIB0IhjebzWazGQeDwXBlmSwGAylgeLPZbDabcTCy
	eWYTl2MwkA4Ew5vNZrPZjIPBYLNcDUYmgxQwvNlsNpvNOBjZPLOJyzMYSAeC4c1ms9ls
	xsFgMBnZLMPNQAoY3mw2m81mHIxsntnEZRsMpAPB8Gaz2Ww242AwmGwsw4lxIAUMbzab
	zWYzDkY2z2zichgG0oFgeLPZbDabcTAYTEaW2Ww1kAKGN5vNZrMZByObZzaxOQYD6UAw
	vNlsNpvNOBgMNhPjyOMwSAHDm81ms9mMg5HNM5vYLIaBdCAY3mw2m81mHAwGm5XHY5wN
	pFAIp0QQXP4el+dzkDvcLoPGb7m8PIe/3eS0+wyiv0HjulxedtNBdLS8HCbrQOsynk5W
	CN9vOigsP891oLB8jO7hcbavjQZq4cfwNmhdxtNb5LK91X6Ty70YSP5+09nl+bwHA4Hm
	7DS53IOBFIpmeAx6TkH2snyefrt1iljNOKMpFMuy3F1mg+xl+Tz9dusUxLD8nnaDlmW5
	u8wGWcvyefrtBsVqrpoLpgNR62VQEC4HxXKgGE43s+lmNhCUSAXJYDHbDiR/v+k6vLve
	msloOFcN5pLF/LiXtMgsBqfFLxZn+9poimVZ7i6zQdVqkqgD3Yo3IQwnk7WIMmKxNRPO
	cq3gLVhr3W5CGixos+GEQ5vi+0UmhSAQvYyng8TheVkHguHNZrPZbMbBYLAYDAaDwRTT
	/JxeboPab3KZDXKH22UdqBkeC9/vNQgqf4OkZXraHQbFYiwZCNUMj1tGmmyIww1xKYVi
	mp/Ty21QHU5Pt8ugtBvkDrvf8/L47SbPdaCaLVeTyWix2EzBDs/pIPY7TC6TQesyng4K
	00Ex2m2Gy91sMZwOxJ8Op0lqeL6uzsvyITtddtMTM9fNdQOhwmSyHATDm81ms9l8M+Ni
	NHMMBoOxQPO0vgyi1WA1W0rBfofJZTJoXcbT5zrFW352ldvsPDntLs/RLrI8bS/LXaEg
	dCpblvPid1hOTtBcNFdN8ZafXej7vOyev+VzF1metpflLiZ0OC2752/5PBG7wW6Kt/zs
	kpfRYXE77HaR5Wl7We4yhtdl6DCZJCZiLpkLpnjLzy55GR0Wt8NuF1metpflruAQmlyW
	8+J3WE5OxFwwl0zxlp9d5TY7T067y3O0iyxP28tyVygIncpCwwTNRXPVFG/52YW+z8vu
	+Vs+d5HlaXtZ7hpCq9Oye/6WzxOxG+ymeMvPLnkZHRa3w24XWZ62l+WuUHDaDsvpwjCd
	Xpbnm2F3+FyWJ2IuG8xVU7zlZ5e7TF+H5y6yPG0vy13G8Lo8bQ4TsRvsphi/2y55uu0i
	y9P2stwlZIfHa2FZLs9Xp0KiPG0vy5NuekLmkrliNgV/OpwmqeH5ujovy4fsdNlNT8xc
	N9dNwU8+g8hhUsh+j9ehaULmwrlqCl8oaEyzy9P8nF5uE+Vpe1memLlgrpgCGAoap8N3
	Gy4vz+fpt9sVChqnw3cbLi/P5+m3m5qHl4lhephdns8TMRfMBSPHFMBQ0DgdvttweXk+
	T7/drlDQOB2+23B5eT5Pv93UPLysZafFiZgL5oIpgML3mz4Mj9HlxAyn8NXnYleoWkQO
	k9BhMhFzwVwxhS8UDCKHSehbTk/MXDEXTuELBYNDaFJYp9Pf7nmC5oIpfKFgcAhNFocJ
	mgum8IWCUuowIXPBFL5QEAktUhMxF07hCwWnTWHyOU3IXDGFLxQMQpPDRMx1UwDd67Ir
	DIez0+MwPf12m9Py8j3MZiditpmCFK+H5WE3Pe0uJ2YKErU5DZvL9LyzTE/gFL76XOwa
	k8eJmgvmgil89bnY5S7T72/5Ou0+J2oumAum8NXnYleoinzP6cN3G/6ep+llYtmeHpcT
	MRfMFVP46nOxK1RF1sWJmAvmiil8oSB2HnZPx+hyu5yYKfjJp7NMv7/l67T7HDImZi6Z
	wlefi12hahE5TCZiLpgrpvDV52JXqIpFDpPQYTIRc8FcMYWvPhe7QlUscphMxFwwV0zB
	Tz6DyGEyZEzIXDhXTOELBYvGpNMqDTYTMhdMwU8+p01hfR4yJmKumIKffCKTxJAxIXPB
	XDCFLxQsGpPSupuebpcTMhdMQZqH3WTxG5+YwWAumAK4LuPprlCwGaaP0YmYC+aCkWMK
	Xyi4LOen9Le8nJApfKFg8y1Os8vGNLucdNPLZ3mank/EXDBXTeELBYfyMrnspqfD7GbY
	HT6X5YmYC6bwEdPzdbIdPpfnCVrs5qIp+MmntAx/y+khY2IWU/hCQSOxuCznp/S3vJyQ
	4VwzmIKffFanwmZ4Pg9Nh+zwfJ6guWAumcIXqg7fbfh7nqaXEzkYzEVzxRT85HM6nCaF
	7Pd4PXy322E3eU4s29PjcmLmurluCn7yOR1Ok0H5GJ2ml8f0urzcfJPL7JAxMXPdXDcF
	P/kMTUPGhMwVU/CTz+pUGDImcjCYi+aKKfjJZ3UqRL7n9JAxEXPBXDGFL1RFvuf0Zll+
	LkPlb3hZTk+X54mYC+aKKXyhYHAITULZYbr5LW8naC6Ygp98QofJkDEhc+UU/OQzOIQm
	Q8ZEzEVTANflsQtOR8vLYXIipgCuy2PX+C0vj+V5OP2diLlgCgAAAAAAAA==
	</data>
	<key>backlight-level</key>
	<data>
	EAc=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	zxcFCwAAAAARGmxx2Ulzqg==
	</data>
	<key>boot-args</key>
	<string>kext-dev-mode=1 rootless=0</string>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjBEOENEM0VBLTM0
	OUQtNDUxMi1BOTM5LTZGMUY2MDI4RTUxNzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMXMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQkEuYmluPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAADAGAAAAAAAAUAYAAAAA
	AOrTjA2dNBJFqTlvH2Ao5RcCAgQEPABcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwATQBCAEEALgBiAGkAbgAAAH//BAA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkFBNkM4OUIzLUVG
	OUQtNDFDNi1CRjVGLTIwRDJCMkY5RkEzNjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAFAAAAAABxEQAAAACIRH0KAAAA
	ALOJbKqd78ZBv18g0rL5+jYCAn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAABA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BpAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ZDgAajEzAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhEPAAAW
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ZDgAAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBBaXI=
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly8zNERFQTA5RS0wRjQ4LTM0OUQtQTg3QS1CNTM0Rjg0Q0NBMTgv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>platform-uuid</key>
	<data>
	v1/SjbFZEeKeEyCJhL2d+A==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>rc_imgsrc_info</key>
	<data>
	YnBsaXN0MDChAdECA18QJDM0REVBMDlFLTBGNDgtMzQ5RC1BODdBLUI1MzRGODRDQ0Ex
	OFNNYWMICg00AAAAAAAAAQEAAAAAAAAABAAAAAAAAAAAAAAAAAAAADg=
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAHAAAAANCQEQAAAAAAEE4KAAAA
	AHb4Ze4n77hDsBVbJEVVvW0CAn//BAA=
	</data>
	<key>tbt-options</key>
	<data>
	BA==
	</data>
</dict>
</plist>